a,
div,
span {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
input[type=text],
input[type=number] {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 102, 255, 0.6);
  outline: thin dotted;
  box-shadow: rgba(0, 102, 255, 0.6) 0 0 5px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: -webkit-linear-gradient(-45deg, #6a823e 0%, #575a15 44%);
}
.folder-path {
  background: #e1e1e1;
  width: 300px;
  display: inline-block;
  height: 30px;
  color: black;
  font-size: 16px;
  line-height: 30px;
  padding: 0 4px 0 4px;
}
.modalBlockout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.1s linear;
}
.modalHost {
  top: 50%;
  left: 50%;
  position: fixed;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.1s linear;
}
.messageBox {
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 300px;
}
.messageBox .modal-header {
  background: -webkit-linear-gradient(-45deg, #45484d 0%, #000000 100%);
  color: white;
  font-variant: small-caps;
  font-size: 22px;
  border-radius: 4px 4px 0 0;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.splash {
  height: 100%;
  font-size: 32px;
  font-variant: small-caps;
}
.splash span {
  position: fixed;
  top: 8px;
  left: 8px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.splash i {
  margin-right: 8px;
}
.splash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 170px;
  background: -webkit-linear-gradient(-45deg, #d2be9b 0%, #a89159 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  border-right: 1px solid black;
}
nav header {
  height: 60px;
  background: -webkit-linear-gradient(-45deg, #a90329 0%, #6d0019 100%);
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}
nav header span {
  display: inline;
  font-weight: bold;
  color: white;
  font-size: 22px;
  position: relative;
  left: -6px;
  top: 14px;
  font-variant: small-caps;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
nav header img {
  position: relative;
  top: 4px;
  width: 65px;
}
nav button {
  width: 100%;
  border: none;
  background: transparent;
  display: block;
  padding: 10px 0 10px 8px;
  text-align: left;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms, background 300ms;
}
nav button:hover {
  color: #ffffff;
}
nav button:active {
  position: relative;
  top: 2px;
  color: #ffffff;
}
nav button.selected {
  color: white;
  background: -webkit-linear-gradient(-45deg, #6a823e 0%, #575a15 44%);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
nav button span span {
  float: none;
  position: relative;
  font-variant: small-caps;
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
nav button span .icon {
  display: inline-block;
  width: 32px;
  margin-right: 4px;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.column_1x2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: 4px;
}
.column_2x2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 4px;
}
.scrollable-list {
  height: 300px;
  overflow-y: scroll;
  left: -10px;
}
section {
  position: fixed;
  left: 170px;
  top: 0;
  bottom: 0;
  right: 0;
}
section .home-content,
section .raw-content {
  padding: 16px;
  position: fixed;
  left: 176px;
  top: 50px;
  bottom: 0;
  right: 0;
}
section .home-content h3,
section .raw-content h3 {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .home-content pre .string,
section .raw-content pre .string {
  color: green;
}
section .home-content pre .number,
section .raw-content pre .number {
  color: red;
}
section .home-content pre .boolean,
section .raw-content pre .boolean {
  color: blue;
}
section .home-content pre .null,
section .raw-content pre .null {
  color: magenta;
}
section .home-content pre .key,
section .raw-content pre .key {
  color: teal;
  font-weight: bold;
}
section .raw-content {
  top: 72px;
}
section .button-panel {
  float: right;
  margin: 6px;
}
section header {
  background: -webkit-linear-gradient(-45deg, #d2be9b 0%, #a89159 100%);
  padding: 2px 0 4px 12px;
  font-size: 36px;
  border-bottom: 1px solid black;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
section header i {
  position: relative;
  top: 1px;
}
section header span {
  display: inline;
  position: relative;
  top: 1px;
  font-variant: small-caps;
}
section header button {
  font-size: 24px;
  border: none;
  background: transparent;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms, background 300ms;
}
section header button:hover {
  color: #ffffff;
}
section header button:active {
  position: relative;
  top: 2px;
  color: #ffffff;
}
section header button.selected {
  color: white;
  background: #6a823e;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
section header button.selected {
  border: none;
  border-radius: 4px;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
section header button.delete {
  -webkit-transition: color 300ms, background 300ms;
}
section header button.delete:hover {
  color: #a90329;
}
section header button.delete:active {
  position: relative;
  top: 2px;
  color: #a90329;
}
section header button.save {
  -webkit-transition: color 300ms, background 300ms;
}
section header button.save:hover {
  color: #6a823e;
}
section header button.save:active {
  position: relative;
  top: 2px;
  color: #6a823e;
}
section header button.back {
  margin: 0;
  padding: 0;
  border: none;
}
section header button.back i {
  font-size: 36px;
}
section .editor-nav {
  background: -webkit-linear-gradient(-45deg, #45484d 0%, #000000 100%);
  float: right;
  padding: 2px 8px 4px 8px;
  border-radius: 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
  position: absolute;
  right: 0;
}
section .editor-nav button {
  font-variant: small-caps;
  background: none;
  color: gray;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}
section .editor-nav button.selected {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
section .items-container {
  padding: 16px;
}
section .items-container .no-data {
  text-align: center;
  margin-top: 64px;
}
section .items-container .no-data div {
  font-size: 26px;
  margin-top: 32px;
  background: -webkit-linear-gradient(-45deg, #a90329 0%, #6d0019 100%);
  border: 1px solid black;
  color: white;
  padding: 16px;
  display: inline-block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .items-container .no-data div.create {
  margin: 16px 0 0 0;
  background: none;
  border: none;
  display: block;
  padding: 0px;
  box-shadow: none;
}
section .items-container .no-data div.create button {
  background: -webkit-linear-gradient(-45deg, #6a823e 0%, #575a15 44%);
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  font-variant: small-caps;
  padding: 8px 16px;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -webkit-transition: color 300ms, background 300ms;
}
section .items-container .no-data div.create button:hover {
  color: #000000;
}
section .items-container .no-data div.create button:active {
  position: relative;
  top: 2px;
  color: #000000;
}
section .items-container .button-panel {
  margin: 0;
}
section .items-container .button-panel button {
  font-size: 16px;
  border: none;
  background: transparent;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .items-container .button-panel button .icon-pencil {
  -webkit-transition: color 300ms, background 300ms;
}
section .items-container .button-panel button .icon-pencil:hover {
  color: #6a823e;
}
section .items-container .button-panel button .icon-pencil:active {
  position: relative;
  top: 2px;
  color: #6a823e;
}
section .items-container .button-panel button .icon-trash {
  -webkit-transition: color 300ms, background 300ms;
}
section .items-container .button-panel button .icon-trash:hover {
  color: #a90329;
}
section .items-container .button-panel button .icon-trash:active {
  position: relative;
  top: 2px;
  color: #a90329;
}
section .items-container .rows {
  overflow-y: auto;
  position: absolute;
  top: 100px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}
section .items-container th {
  font-size: 20px;
  font-variant: small-caps;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .items-container td {
  font-weight: bold;
}
section .items-container td .button-panel {
  opacity: 0;
}
section .items-container td:hover .button-panel {
  opacity: 1;
}
section .items-container .grid-item {
  float: left;
  border: 1px solid black;
  border-left: 6px solid #a90329;
  padding: 12px 12px 8px 12px;
  margin: 8px;
  border-radius: 4px;
  background: #E7E7E7;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
section form {
  padding: 16px 16px 0 16px;
  margin: 0;
}
section .model-title {
  position: relative;
  top: 4px;
}
section .components-container {
  padding: 16px;
}
section .components-container .add-value {
  float: right;
}
section .components-container ul.values {
  margin: 16px 32px;
}
section .components-container ul.values li {
  font-size: 20px;
  padding: 4px;
}
section .components-container table {
  margin-top: 20px;
}
section .components-container .header-container {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
section .components-container .header-container h3 {
  line-height: 30px;
  position: relative;
  display: inline;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .components-container .header-container h3 span {
  margin-left: 8px;
  font-size: 12px;
  font-style: italic;
}
section .components-container .header-container .btn-group {
  float: right;
}
section .components-container .header-container .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
section .components-container .header-container .dropdown-menu.pull-left {
  float: right;
  margin: -15px 0 0 -145px;
}
section .components-container .header-container button {
  background: none;
  border: none;
  margin-top: 2px;
  -webkit-transition: color 300ms, background 300ms;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .components-container .header-container button i {
  font-size: 24px;
}
section .components-container .header-container button:hover {
  color: #6a823e;
}
section .components-container .header-container button:active {
  position: relative;
  top: 2px;
  color: #6a823e;
}
section .components-container .component-container {
  border: 1px solid black;
  border-left: 6px solid #6a823e;
  padding: 0px 12px 8px 12px;
  margin: 8px;
  border-radius: 4px;
  background: -webkit-linear-gradient(-45deg, #f2f2f2 0%, #d6d6d6 100%);
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
section .components-container .component-container h4 {
  display: inline;
  padding: 8px;
  position: relative;
  top: 6px;
}
section .components-container .component-container .remove {
  float: right;
  position: relative;
  top: -16px;
}
section .components-container .component-container .remove button {
  background: none;
  border: none;
  -webkit-transition: color 300ms, background 300ms;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
section .components-container .component-container .remove button i {
  font-size: 18px;
}
section .components-container .component-container .remove button:hover {
  color: #a90329;
}
section .components-container .component-container .remove button:active {
  position: relative;
  top: 2px;
  color: #a90329;
}
section #notes {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
section .cke_chrome {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.editor-action {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background: white;
}
.editor-action header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #474747;
}
.editor-action header span {
  color: white;
}
.editor-action header span.title,
.editor-action header span.for {
  position: relative;
  top: 7px;
}
.editor-action header span.for {
  color: #6a823e;
}
.editor-action header button {
  color: gray;
}
.editor-action header button.back {
  position: relative;
  top: 3px;
}
.editor-action .config {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 8px 8px 0 8px;
  height: 38px;
  background: gray;
  box-shadow: #000000 0 5px 12px;
  z-index: 100;
}
.editor-action .config label {
  color: white;
  margin-right: 4px;
  position: relative;
  top: 1px;
  font-weight: bold;
}
.editor-action .config label.context {
  top: 5px;
  margin-left: 22px;
}
.editor-action .config select {
  margin-left: 8px;
  background: #474747;
  color: white;
}
.editor-action .config input[type=text] {
  background: #474747;
  color: white;
}
.displayName {
  margin: 0 0 8px 2px;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.read .icon-music {
  margin: 0 4px 8px 0;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.expressionDialog {
  width: 555px;
}
.expressionDialog .write {
  background: #f4f4f4;
  padding: 8px;
  margin: 8px;
}
.expressionDialog .write .toolbar {
  float: left;
  margin: -1px 4px 0 -8px;
}
.expressionDialog .write .toolbar button {
  border: none;
  background: none;
}
.expressionDialog .write .toolbar button .icon-trash {
  -webkit-transition: color 300ms, background 300ms;
}
.expressionDialog .write .toolbar button .icon-trash:hover {
  color: #a90329;
}
.expressionDialog .write .toolbar button .icon-trash:active {
  position: relative;
  top: 2px;
  color: #a90329;
}
.expressionDialog .modal-body {
  height: 300px;
}
.expressionDialog ul {
  margin: 0;
}
.expressionDialog ul li {
  list-style: none;
}
.expressionDialog label {
  display: inline;
  line-height: 26px;
}
.expressionDialog textarea {
  width: 100%;
  box-sizing: border-box;
}
.expressionDialog input[type=checkbox] {
  margin-top: -2px;
}
.read .toolbar {
  width: 70px;
  margin-top: 4px;
  opacity: 0;
}
.read .toolbar button {
  border: none;
  background: none;
}
.read .toolbar button .icon-pencil {
  -webkit-transition: color 300ms, background 300ms;
}
.read .toolbar button .icon-pencil:hover {
  color: #6a823e;
}
.read .toolbar button .icon-pencil:active {
  position: relative;
  top: 2px;
  color: #6a823e;
}
.read .toolbar button .icon-trash {
  -webkit-transition: color 300ms, background 300ms;
}
.read .toolbar button .icon-trash:hover {
  color: #a90329;
}
.read .toolbar button .icon-trash:active {
  position: relative;
  top: 2px;
  color: #a90329;
}
.read:hover > tbody > tr > td > .toolbar:hover {
  opacity: 1;
}
.script-designer {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  font-size: 22px;
}
.script-designer i {
  font-size: 20px;
}
.script-designer .text {
  line-height: 30px;
}
.script-designer .addEntryPoint {
  background: none;
  border: none;
  margin-top: 8px;
  -webkit-transition: color 300ms, background 300ms;
}
.script-designer .addEntryPoint:hover {
  color: #6a823e;
}
.script-designer .addEntryPoint:active {
  position: relative;
  top: 2px;
  color: #6a823e;
}
.script-designer .tab-content {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 10px;
}
.script-designer .composite > .node {
  width: auto;
}
.script-designer .composite > .node .addBranch {
  background: none;
  border: none;
  float: left;
  margin-top: -2px;
}
.script-designer .composite > .node.writing {
  width: auto;
}
.script-designer .node.writing {
  width: 576px;
}
.script-designer {
  box-sizing: border-box;
  width: 100%;
  margin: 8px;
}
.script-designer .script {
  color: #474949;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .actor {
  color: #A60000;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .cycle-header {
  color: #855828;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .prop {
  color: #3F92D2;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .storyEvent {
  color: #FF9200;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .scene {
  color: #008500;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .variable,
.script-designer .skill {
  color: #700085;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.script-designer .add:before {
  content: '\f055';
  font-family: FontAwesome;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  font-size: 14px;
  margin-right: 4px;
  position: relative;
  top: -2px;
}
.script-designer .remove:before {
  content: '\f056';
  font-family: FontAwesome;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  font-size: 14px;
  margin-right: 4px;
  position: relative;
  top: -2px;
}
.script-designer .expression {
  display: inline;
}
.script-designer .expression .description {
  font-style: italic;
  font-size: 14px;
  top: -3px;
  position: relative;
}
.script-designer .expression button.btn {
  background: none;
  border: none;
  box-shadow: none;
  position: relative;
  top: -1px;
  -webkit-transition: color 300ms, background 300ms;
}
.script-designer .expression button.btn:hover {
  color: #ffa500;
}
.script-designer .expression button.btn:active {
  position: relative;
  top: 2px;
  color: #ffa500;
}
.script-designer .branch {
  list-style: none;
  margin-left: 0px;
}
.script-designer .keyword {
  color: orange;
  text-shadow: #000000 1px 1px 1px;
}
.script-designer .menu {
  list-style: none;
  margin-left: 0px;
}
.script-designer .write {
  box-sizing: border-box;
  border-left: 1px solid dodgerblue;
  padding: 8px;
  box-shadow: -5px 0px 10px -7px #000000;
  margin-left: 76px;
}
.script-designer .write label {
  display: inline;
  line-height: 26px;
}
.script-designer .write textarea {
  width: 100%;
  box-sizing: border-box;
}
.script-designer .write input[type=checkbox] {
  margin-top: -2px;
}
.script-designer .write .done {
  float: right;
  margin-top: 8px;
}
