<form>
    <fieldset>
        <label>Reputation</label>
        <input type="text" placeholder="reputation" data-bind="value: reputation, valueUpdate: 'afterkeydown'"/>
    
        <label>Agility</label>
        <input type="text" placeholder="agility" data-bind="value: agility, valueUpdate: 'afterkeydown'"/>
        
        <label>Charm</label>
        <input type="text" placeholder="charm" data-bind="value: charm, valueUpdate: 'afterkeydown'"/>
        
        <label>Fitness</label>
        <input type="text" placeholder="fitness" data-bind="value: fitness, valueUpdate: 'afterkeydown'"/>
        
        <label>Magic</label>
        <input type="text" placeholder="magic" data-bind="value: magic, valueUpdate: 'afterkeydown'"/>
        
        <label>Perception</label>
        <input type="text" placeholder="perception" data-bind="value: perception, valueUpdate: 'afterkeydown'"/>
        
        <label>Smarts</label>
        <input type="text" placeholder="smarts" data-bind="value: smarts, valueUpdate: 'afterkeydown'"/>
        
        <label>Moxie</label>
        <input type="text" placeholder="moxie" data-bind="value: moxie, valueUpdate: 'afterkeydown'"/>
        
        <label>Luck</label>
        <input type="text" placeholder="luck" data-bind="value: luck, valueUpdate: 'afterkeydown'"/>
    </fieldset>
</form>
