<form>
    <fieldset>
 		<label>Effect Type</label>
		<select data-bind="options: heroStatusEffects.statusEffects,
				optionsText: 'name',
				optionsValue: 'id',
				value: EffectType, 
				valueUpdate: 'afterkeydown'">
		</select>

    	<label>Probability (of occuring)</label>
        <input type="text" placeholder="Probability" data-bind="value: Probability, valueUpdate: 'afterkeydown'"/>

		<label>Duration (In combat rounds)</label>
        <input type="text" placeholder="Duration" data-bind="value: Duration, valueUpdate: 'afterkeydown'"/>

		<label>Parameter (Optional)</label>
        <input type="text" placeholder="Radius" data-bind="value: Parameter, valueUpdate: 'afterkeydown'"/>

    </fieldset>
</form>