<form>
    <fieldset>
   		<label>Target Skill or Stat</label>
        <select data-bind="options: skillOrStatMap.skillOrStats, optionsText: 'name', optionsValue: 'id', value: BuffTargetType, valueUpdate: 'afterkeydown'"></select>

    	<label>Value</label>
        <input type="text" placeholder="Value" data-bind="value: Value, valueUpdate: 'afterkeydown'"/>

    	<label>Duration (In minutes -1 = Never expires)</label>
        <input type="text" placeholder="-1" data-bind="value: Duration, valueUpdate: 'afterkeydown'"/>

		<label>Is Percentage of Max</label>
 		<input type="checkbox" placeholder="IsPercentage" data-bind="checked: IsPercentage, valueUpdate: 'afterkeydown'"/>
	
    </fieldset>
</form>