<form>
    <fieldset>
   		<label>Damage Type</label>
		<select data-bind="options: damageSourceTypes.damageSource,
				optionsText: 'name',
				optionsValue: 'id',
				value: DamageSourceType, 
				valueUpdate: 'afterkeydown'"/>

    	<label>Min Damage</label>
        <input type="text" placeholder="Damage Value Min" data-bind="value: DamageValueMin, valueUpdate: 'afterkeydown'"/>

		<label>Max Damage</label>
        <input type="text" placeholder="Damage Value Max" data-bind="value: DamageValueMax, valueUpdate: 'afterkeydown'"/>

		<label>Is Percentage of Max Health</label>
 		<input type="checkbox" placeholder="IsPercentage" data-bind="checked: IsPercentage, valueUpdate: 'afterkeydown'"/>

		<label>Radius</label>
        <input type="text" placeholder="Radius" data-bind="value: Radius, valueUpdate: 'afterkeydown'"/>

		<label>Always Hit</label>
		<select data-bind="options: damageSourceTypes.alwaysHit,
				optionsText: 'name',
				optionsValue: 'id',
				value: alwaysHit, 
				valueUpdate: 'afterkeydown'"/>
		<br>
	
    </fieldset>
</form>