<form>
    <fieldset>

    	<table>

    		<tr>
	    		<td>
			   		<label>Target Skill or Stat</label>
                     <select data-bind="options: skillOrStatMap.entries, optionsText: 'name', optionsValue: 'id', value: BuffA.Target, valueUpdate: 'afterkeydown'"></select>
				</td>
				<td>
			   		<label>Target Skill or Stat</label>
                     <select data-bind="options: skillOrStatMap.entries, optionsText: 'name', optionsValue: 'id', value: BuffB.Target, valueUpdate: 'afterkeydown'"></select>
				</td>
				<td>
			   		<label>Target Skill or Stat</label>
                     <select data-bind="options: skillOrStatMap.entries, optionsText: 'name', optionsValue: 'id', value: BuffC.Target, valueUpdate: 'afterkeydown'"></select>
				</td>

			</tr>

			<tr>
				<td>
		    		<label>Value</label>
		        	<input type="text" placeholder="Value" data-bind="value: BuffA.Value, valueUpdate: 'afterkeydown'"/>
		        </td>
		        <td>
		    		<label>Value</label>
		        	<input type="text" placeholder="Value" data-bind="value: BuffB.Value, valueUpdate: 'afterkeydown'"/>
		        </td>
		        <td>
		    		<label>Value</label>
		        	<input type="text" placeholder="Value" data-bind="value: BuffC.Value, valueUpdate: 'afterkeydown'"/>
		        </td>
		        
		    </tr>
		</table>
    </fieldset>
</form>