<form>
    <fieldset>

    	<label>Min Heal</label>
        <input type="text" placeholder="Heal Value Min" data-bind="value: DamageValueMin, valueUpdate: 'afterkeydown'"/>

		<label>Max Heal</label>
        <input type="text" placeholder="Heal Value Max" data-bind="value: DamageValueMax, valueUpdate: 'afterkeydown'"/>

		<label>Is Percentage of Max Health</label>
 		<input type="checkbox" placeholder="IsPercentage" data-bind="checked: IsPercentage, valueUpdate: 'afterkeydown'"/>

		<label>Radius</label>
        <input type="text" placeholder="Radius" data-bind="value: Radius, valueUpdate: 'afterkeydown'"/>

 		<label>Removes Debuff</label>
		<select data-bind="options: heroStatusEffects.statusEffects,
				optionsText: 'name',
				optionsValue: 'id',
				value: CuresDebuff, 
				valueUpdate: 'afterkeydown'">
		</select>

    </fieldset>
</form>