<form>
  <label>Player Character's Comments</label>
  <fieldset>
	<input type="text" data-bind="value:comments[0], valueUpdate:'afterkeydown'" />	
	<input type="text" data-bind="value:comments[1], valueUpdate:'afterkeydown'" />	
	<input type="text" data-bind="value:comments[2], valueUpdate:'afterkeydown'" />
	<input type="text" data-bind="value:comments[3], valueUpdate:'afterkeydown'" />	
  </fieldset>

  <label>Translation Notes</label>
  <fieldset>
    <input type="text" data-bind="value:notes[0], valueUpdate:'afterkeydown'" />	
    <input type="text" data-bind="value:notes[1], valueUpdate:'afterkeydown'" />	
    <input type="text" data-bind="value:notes[2], valueUpdate:'afterkeydown'" />
    <input type="text" data-bind="value:notes[3], valueUpdate:'afterkeydown'" />	
  </fieldset>
  
</form>
