<form>
  <label>Player Character's Comments</label>
  <fieldset>
	<label>At Low Reputation</label>
	<input type="text" data-bind="value:lowcomment1, valueUpdate:'afterkeydown'" />
	
	<input type="text" data-bind="value:lowcomment2, valueUpdate:'afterkeydown'" />
	
	<input type="text" data-bind="value:lowcomment3, valueUpdate:'afterkeydown'" />
  </fieldset>
  <fieldset>
	<label>At Medium Reputation</label>
	<input type="text" data-bind="value:mediumcomment1, valueUpdate:'afterkeydown'" />

	<input type="text" data-bind="value:mediumcomment2, valueUpdate:'afterkeydown'" />

	<input type="text" data-bind="value:mediumcomment3, valueUpdate:'afterkeydown'" />
  </fieldset>
  <fieldset>
	<label>At High Reputation</label>
	<input type="text" data-bind="value:highcomment1, valueUpdate:'afterkeydown'" />

	<input type="text" data-bind="value:highcomment2, valueUpdate:'afterkeydown'" />

	<input type="text" data-bind="value:highcomment3, valueUpdate:'afterkeydown'" />
  </fieldset>
</form>
