<form>
    <fieldset>

    	<label>Tool Class</label>
		<select data-bind="options: inventoryPicklists.toolClasses,
				optionsText: 'name',
				optionsValue: 'id',
				value: toolClass,
				valueUpdate: 'afterkeydown'"/>

    	<label>Usages</label>
        <input type="text" placeholder="Usages Remaining" data-bind="value: usagesRemaining, valueUpdate: 'afterkeydown'"/>

		<label>Tools Skill Modifier</label>
        <input type="text" placeholder="Bonus level" data-bind="value: bonusSkill, valueUpdate: 'afterkeydown'"/>

		<label>Break Percentage</label>
        <input type="text" placeholder="Bonus level" data-bind="value: breakPercentage, valueUpdate: 'afterkeydown'"/>

		<label>Unbreakable</label>
        <input type="checkbox" placeholder="Bonus level" data-bind="value: unbreakable, valueUpdate: 'afterkeydown'"/>

    </fieldset>
</form>