<form>
    <fieldset>
   		<label>Prefab Reference</label>
			<select data-bind="value: PrefabReference, valueUpdate: 'afterkeydown'">
			  <option value="0">None</option>
			  <option value="1">Trap</option>
			  <option value="2">MightyTrap</option>
			  <option value="3">Gooey</option>
			  <option value="4">Rune Null</option>
			  <option value="5">Rune Claustra</option>
			  <option value="6">Rune Incendia</option>
			  <option value="7">Rune Frigida</option>
			  <option value="8">Rune Sol</option>
			</select>
		<br>
    </fieldset>
</form>