<form>
    <fieldset>
    
        <label>Smarts</label>
        <input type="text" placeholder="smarts" data-bind="value: smarts, valueUpdate: 'afterkeydown'"/>
		
		<label>Fitness</label>
        <input type="text" placeholder="fitness" data-bind="value: fitness, valueUpdate: 'afterkeydown'"/>

		<label>Charm</label>
        <input type="text" placeholder="charm" data-bind="value: charm, valueUpdate: 'afterkeydown'"/>
		
		<label>Skills</label>
        <input type="text" placeholder="skills" data-bind="value: skills, valueUpdate: 'afterkeydown'"/>
                                
        <label>Luck</label>
        <input type="text" placeholder="luck" data-bind="value: luck, valueUpdate: 'afterkeydown'"/>
    </fieldset>
</form>
