<form>
	<fieldset>
		<label>Throw Action</label>
			<select data-bind="options: inventoryPicklists.throwActions,
				optionsText: 'name',
				optionsValue: 'id',
				value: throwAction,
				valueUpdate: 'afterkeydown'"/>
		<br>

		<label>Throw Effect</label>
		<select data-bind="options: inventoryPicklists.throwEffects,
				optionsText: 'name',
				optionsValue: 'id',
				value: spawnEffect,
				valueUpdate: 'afterkeydown'"/>
		<br>

		<label>Model Type</label>
		<select data-bind="options: inventoryPicklists.throwModelTypes,
				optionsText: 'name',
				optionsValue: 'id',
				value: modelType,
				valueUpdate: 'afterkeydown'"/>
		<br>

		<input type="checkbox" data-bind="checked: canRetrieve" />
		<label>Retrievable</label>
</form>