<header>
    <i data-bind="css:metadata.iconClass"/>
    <span data-bind="text:metadata.name"></span>
    <button class="hint--right hint--rounded" data-hint="Add New" data-bind="click: create">
        <i class="icon-plus-sign-alt"></i>
    </button>
        
    <span class="button-panel">
        <button class="hint--left hint--rounded" data-hint="Card View" data-bind="css:{selected:viewStyle=='grid'}">
            <i class="icon-th" data-bind="click: function(){$data.changeViewStyle('grid')}"></i>
        </button>
        <button class="hint--left hint--rounded" data-hint="List View" data-bind="css:{selected:viewStyle=='table'}">
            <i class="icon-list" data-bind="click: function(){$data.changeViewStyle('table')}"></i>
        </button>
    </span>
</header>